# =================================================================== #
#                    HTACESS Codado por Nicke                         #
# =================================================================== #

# ===========[Errors]=============

ErrorDocument 404 /index.php

# ===========[Filtros]=============


# ===========[Modulos]=============



# ===========[Ban/All]=============
deny from 187.45.181.133
deny from 184.171.169.86

# =================================================================== #
#                    Fim da Restricao HTACESS                         #
# =================================================================== #